/*Variables*/

:root {
    --bg-color: #d96299;
    --link-color: #f2b749;
    --link-hover-color: #f2994b;
    --color-4: #d7f1f0;
    --color-5: #9bd9f2;

    --primary-font: 'Poiret One', sans-serif;
    --secondary-font: 'Gill Sans', sans-serif;
    --main-text-color: #000;

    --white-space: 1rem;
}

/* CSS Fonts */

html {
    font-size: 100%;
    font-weight: 300;
    font-family: var(--secondary-font);
    font-size: 1.2em;
    scroll-behavior: smooth;
}

body {
    background-color: white;
}

p {
    font-size: 1.2em;
}

section {
    margin-bottom: 30px;
}

h1,
h2,
h3 {
    font-weight: 800;
    font-family: var(--primary-font);
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.2em;

}


#top,
#middle-top,
#middle-bottom,
#bottom {
    /*    padding: 1.5em;*/
}

/* CSS Instagram */
#instagram {
    display: flex;
}

#instagram-feed-demo {
    padding: 1em;
    display: block;
}

.instagram_profile {
    text-align: center;
}

.instagram_profile_image {
    border-radius: 10em;
    width: 15%;
    max-width: 125px;
    min-width: 50px;
}

.instagram_username {
    font-size: 1.2em;
}

.instagram_biography {
    font-size: 1em;
}

.instagram_gallery {
    margin: 1% 1%;
    width: 31.333333333333332%;
    display: flex;
}

.instagram_image {
    flex-direction: row;
    flex-wrap: wrap;
}

/* CSS Overall */

.img-fluid {
    width: 100%;
}

.img-fluid-2 {
    width: 100%;
}


#instagram-border {
    background-image: url(img/instagram.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 2em;
    border-radius: 2em;
}

#instagram-feed-demo {
    background-color: white;
    border-radius: 2em;
}

#footer .txt {
    background-color: var(--bg-color);
    color: white;
    padding: none;
}

#footer p {
    font-size: 1.2em;

}

.splash {}

#hero {
    background-image: url("img/paaskebryg.jpg");
    background-size: cover;
}

#hero .txt {
    color: var(--bg-color);
    position: relative;
    text-align: left;
    margin-top: 18em;
    margin-bottom: 18em;
    background-size: cover;
    margin-right: 17em;

}

.imgproduct {
    background-image: url("img/skovbund_6.jpg");
    background-color: #cccccc;
    width: 100%;
    padding: 5%;
    background-size: cover;
    background-position: center;
    text-align: center;
}


.imgproduct .txt-item h2 {
    color: white;
}

#top {
    color: black;
}

header {
    display: block;
    text-decoration: none;
}

nav {
    text-decoration: none;
    overflow: hidden;
    border: 0.4em solid var(--link-color);
    display: flex;
    padding: 1em;
}

.navbar-brand img {
    margin: 1em;
    width: 12.5em;
}

.logo {
    width: 100%;
}

#nav-bar,
#nav-pills {
    flex-direction: row;
}

#nav-pills {
    padding: 1em;
}


ul,
li {
    display: flex;
    flex-direction: column;
    margin: 0.3em;
    font-size: 1.15em;
    overflow: hidden;
}

#middle-top .img .flavour {
    flex-direction: row;
    flex-wrap: wrap;
}


li a {
    text-decoration: none;
    text-decoration-style: none;
    margin-right: 0.6em;
    flex-wrap: wrap;
    font-size: 0.85em;
    color: var(--link-color);
}

#button {
    display: flex;
    flex-direction: row-reverse;
}

button {
    align-self: flex-end;
    font-size: 1.5em;
    font-family: var(--secondary-font);
    background-color: transparent;
    border-radius: 0;
    background-color: var(--link-color);
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;

}

button:hover {
    background-color: var(--link-hover-color);
}

button a {
    text-decoration: none;
    color: black;
}

.kontaktfooter {
    font-size: 10pt;
    padding-left: 50px;
    padding-right: 40px;
    padding-top: 50px;
}

.projekt {
    font-size: 10pt;
    padding-left: 50px;
    padding-top: 50px;
}

#boks {
    flex-wrap: wrap;
    margin: 2vw;
    padding: 20px;
    font-family: var (--secondary-font);
    word-spacing: 30px;
    text-align: center;
    font-size: 1.2em

}


/*---- MEDIA QUERY ----*/


@media only screen and (min-width: 768px) {

    ul,
    li {
        display: flex;
        flex-direction: row;
    }

    li a {
        padding: 0.5em;
    }

    html {
        font-size: 1em;
    }

    nav {
        height: 7em;
    }

    .insta-logo {
        width: 4.5em;
    }

    .navbar-brand img {
        width: 8.5em;
        margin: 1em;
    }

    .nav-item .nav-link .insta-logo {
        margin: 0em;
    }

    .img-fluid-2 {
        display: block;
        width: 100%;
    }

    .img-fluid {
        display: block;
        width: 100%;
    }

    .img-fluid_3 {
        display: block;
        width: 70%;
        margin: 6em;
    }
}



@media only screen and (max-width: 768px) {
    .navbar-brand img {
        align-self: center;
        position: relative;
    }

    /*
	.nav-pills {
		float: right;
	}
*/

    .insta-logo {
        width: 4em;
    }

}

@media only screen and (max-width: 576px) {
    #instagram-border {
        padding: 0.9em;
    }

    #text {
        text-align: center;
    }

    #button {
        display: flex;
        justify-content: center;
    }

    button {
        align-self: center;
        font-size: 1em;
        font-family: var(--secondary-font);
        background-color: transparent;
        border-radius: 0;
        background-color: var(--link-color);
        border: none;
        padding: 10px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 2px 2px;
        cursor: pointer;
        border-radius: 15px;
    }

    button:hover {
        background-color: var(--link-hover-color);
    }

    button a {
        text-decoration: none;
        color: black;
    }

    h2 {
        font-size: 1.2em;
        font-weight: 1000;
    }

    p {
        font-size: 1.1em;
    }

    .img-fluid_3 {
        display: block;
        width: 70%;
        margin: 3em;
    }
}
